<form [formGroup]="createForm"
      (ngSubmit)="createQuiz()">

  <select id="categorySelect"
          type="number"
          formControlName="category"
          class="margin-x">
    <option [value]="null">Select a category</option>
    <option id="{{ category.id }}"
            *ngFor="let category of categories"
            [value]="category.id">{{ category.name }}</option>
  </select>

  <select id="difficultySelect"
          formControlName="difficulty"
          class="margin-x">
    <option [value]="null">Select difficulty</option>
    <option id="{{ difficulty }}"
            *ngFor="let difficulty of DIFFICULTIES"
            [value]="difficulty">{{ difficulty | capitalize }}</option>
  </select>

  <button id="createBtn"
          type="submit"
          class="margin-x">Create</button>

</form>

<quiz-questions [questions]="questions"
                [title]="title"
                [step]="'questions'"
                *ngIf="questions.length"></quiz-questions>