<form class="row mb-5"
      [formGroup]="createForm"
      (ngSubmit)="createQuiz()">

  <select id="categorySelect"
          type="number"
          formControlName="category"
          class="form-select col mx-2">
    <option value="">-- Select a category --</option>
    <option id="{{ category.id }}"
            *ngFor="let category of categories"
            [value]="category.id">{{ category.name }}</option>
  </select>

  <select id="difficultySelect"
          formControlName="difficulty"
          class="form-select col mx-2">
    <option value="">-- Select difficulty --</option>
    <option id="{{ difficulty }}"
            *ngFor="let difficulty of DIFFICULTIES"
            [value]="difficulty">{{ difficulty | capitalize }}</option>
  </select>

  <button id="createBtn"
          type="submit"
          class="btn btn-primary col mx-2"
          [disabled]="createForm.invalid">Create</button>

</form>

<quiz-questions [questions]="questions"
                [title]="title"
                [step]="QUIZ_STEP.QUESTIONS"
                *ngIf="questions.length"></quiz-questions>