:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-bg-yellow {
  background-color: yellow;
}

.border-yellow {
  border-color: yellow;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  opacity: 1;
}
