<h2 *ngIf="title">{{ title | uppercase }}</h2>

<form [formGroup]="quizForm"
      (ngSubmit)="validateAnswers()">
  <div *ngFor="let question of questions; let i = index;"
       class="mt-4">

    <p class="px-2">{{ question.question | unescape }}</p>

    <button *ngFor="let answer of question.answers"
            type="button"
            class="btn btn-outline-primary mx-2"
            (click)="selectAnswer(i, answer)"
            [quizHighlight]="highlightColor(i, answer)"
            [disabled]="step === QUIZ_STEP.ANSWERS">{{ answer | unescape }}</button>
  </div>

  <div class="row">
    <button *ngIf="quizForm.valid && questions.length && step === QUIZ_STEP.QUESTIONS"
            type="submit"
            class="btn btn-primary col mt-5">Submit</button>
  </div>

  <div *ngIf="step === QUIZ_STEP.ANSWERS"
       [ngClass]="
       {
          'border border-end-0 border-start-0 mt-5 p-2 text-center': true,
          'text-bg-danger': correctAnswers <= 1,
          'text-bg-yellow': correctAnswers > 1 && correctAnswers <= 3,
          'text-bg-success': correctAnswers > 3
      }
  ">
    {{ resultMsg }}
  </div>

  <div class="row">
    <button *ngIf="step === QUIZ_STEP.ANSWERS"
            type="button"
            class="btn btn-primary col mt-4 mx-2"
            (click)="newQuiz()">Create a new quiz</button>
  </div>
</form>